<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Ranking</title>

  <link rel="stylesheet" type="text/css" href="/mysite/new_ranking/styles/styles.css">


</head>
<body>

  <div class="topbar">

  
      <img class= "nr-logo" src="/mysite/new_ranking/images/NR_logo.svg" alt="Logo" width="100" height="100">
  
  
    <!-- HTML for the navigation bar -->
    <div class="nav-buttons">
      <ul class="navbar">
        <li><a href="#">Login</a></li>
        <li><a id= "signup" href="#">Sign up</a></li>
        <li><a href="#">Plans</a></li>
        <li><a href="#">Get Started</a></li>
      </ul>
    </div>

  </div>

  <div class="top-body">

    <div class="inner-div intro">
      <h2 id="analytics">new ranking</h2>
      <h3 id="h3-intro">An analytics platform built for learners.</h3>
    </div> 

    <div class="inner-div get-started">

      <h2 id="gs">get started today</h2>
      <a id= 'gs-button' href="#">get started</a>
    </div>

  </div>

  <div class= "middle-body">

    <h2 id="improv">see your improvement,<br> live.</h2>
    <img id ="graphic-plholder" src="/mysite/new_ranking/images/graphic_placeholder.svg" alt= "graphic placeholder">


  </div>


  <div class= "lower-body">

    <div class="txt-lowerbody-box">

      <h2>Want to see more of your data?</h2>
      <h3>View the plans below.</h3>
    </div>
    

    <div class="sub-box">

      


      <div class="plan light">

        

        <div class="inside-plan">

          <h2 id="light">Light</h2>

          <!-- <h3>Have all your powers in one place. <br> Test test test test</h3> -->
          <ul class="inside-plan-details">
            <li>Test one. What if i wrote more here?</li>
            <li>Test one</li>
            <li>Test one</li>
            <li>Test one</li>
          </ul>

        </div>


      </div>

      <div class="plan silver">


      </div>

      <div class="plan premium">


      </div>




    </div>





  </div>


  







</body>
</html>
