<!-- {% load static %}  uncomment when depolying -->
<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Ranking</title>

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> --> <!--Uncomment when depolying-->
  <link rel="stylesheet" type="text/css" href="/mysite/new_ranking/static/styles.css">


</head>
<body>

  <div class="topbar">

  
      <!-- <img class= "nr-logo" src="{% static 'images/NR_logo.svg' %}" alt="Logo" width="100" height="100">  -->
      <img class= "nr-logo" src="/mysite/new_ranking/static/images/NR_logo.svg" alt="Logo" width="100" height="100"> 
  
  
    <!-- HTML for the navigation bar -->
    <div class="nav-buttons">
      <ul class="navbar button">
        <li><a href="../registration/login.html">Login</a></li>
        <li><a id= "signup" href="../registration/signup.html">Sign up</a></li>
        <li><a href="#">Plans</a></li>
        <!-- <li><a href="#">Get Started</a></li> -->
      </ul>
    </div>

  </div>

  <div class="top-body">

    <div class="inner-div intro">
      <h2 id="analytics">new ranking</h2>
      <h3 id="h3-intro">An analytics platform built for learners.</h3>
    </div> 

    <div class="inner-div get-started">

      <h2 id="gs">get started today</h2>
      <a id= 'gs-button' href="#">get started</a>
    </div>

  </div>

  <div class= "middle-body">

    <h2 id="improv">see your improvement,<br> live.</h2>
    <img id ="graphic-plholder" src="/mysite/new_ranking/images/graphic_placeholder.svg" alt= "graphic placeholder">


  </div>


  <div class= "lower-body">

    <div class="txt-lowerbody-box">

      <h2>Want to see more of your data?</h2>
      <h3>View the plans below.</h3>
    </div>
    

    <div class="sub-box">

      <div class="plan light">

        <div class="inside-plan">

          <h2 class="plan-title">Light</h2>

          <!-- <h3>Have all your powers in one place. <br> Test test test test</h3> -->
          <ul class="inside-plan-details">
            <li>Test one. What if i wrote more here?</li>
            <li>Test one</li>
            <li>Test one</li>
            <li>Test one</li>
          </ul>

        </div>

      </div>
      
      <div class="plan silver">

        <div class="inside-plan">

          <h2 class="plan-title">Silver</h2>

          <!-- <h3>Have all your powers in one place. <br> Test test test test</h3> -->
          <ul class="inside-plan-details">
            <li>Test one. What if i wrote more here?</li>
            <li>Test one</li>
            <li>Test one</li>
            <li>Test one</li>
          </ul>

        </div>

      </div>

      <div class="plan premium">

        <div class="inside-plan">

          <h2 class="plan-title">Premium</h2>

          <!-- <h3>Have all your powers in one place. <br> Test test test test</h3> -->
          <ul class="inside-plan-details">
            <li>Test one. What if i wrote more here?</li>
            <li>Test one</li>
            <li>Test one</li>
            <li>Test one</li>
          </ul>

        </div>

      </div>

    </div>

    <div class="start-analyzing-box">

      <h2>Start analyzing your<br>growth with New Ranking</h2>

      <a class="for-free-button" href="#">Get started for free</a>

    </div>

  </div>

  <div class="footer">

    <div class="footer-box">

      <div class="logos-n-socials">

        <img class= "nr-logo-footer" src="/mysite/new_ranking/static/images/NR_logo.svg" alt="Logo" width="100" height="100">

        <div class="socials">

          <div class="logo-tag">

            <img src="/mysite/new_ranking/images/IG_ICON.svg">
            <h3 id="ig-tag">newranking</h3>

          </div>

          <div class="logo-tag">

            <img src="/mysite/new_ranking/images/WhatsApp_ICON.svg">
            <h3 id="ig-tag">+972-0-00-0000</h3>

          </div>

          <div class="logo-tag">

            <img src="/mysite/new_ranking/images/YT-ICON.svg">
            <h3 id="ig-tag">newranking</h3>

          </div>

        </div>


      </div>

      <div class="others">

        <div class="cols">

          <h3>Explore</h3>
          <div>
            <h2 class="h2-col">test</h2>
            <h2 class="h2-col">test</h2>
            <h2 class="h2-col">test</h2>
            <h2 class="h2-col">test</h2>
          </div>
          




        </div>

        <div class="cols">

          <h3>Creators</h3>
          
          <h2 class="h2-col">test</h2>
          <h2 class="h2-col">test</h2>
          <h2 class="h2-col">test</h2>
          <h2 class="h2-col">test</h2>




        </div>

        <div class="cols">

          <h3>Resources</h3>
          
          <h2 class="h2-col">test</h2>
          <h2 class="h2-col">test</h2>
          <h2 class="h2-col">test</h2>
          <h2 class="h2-col">test</h2>




        </div>


      </div>

      



    </div>

    


  </div>


  







</body>
</html>
