@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
    background-image: url("images/bg.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Poppins', sans-serif;
    margin: 0;
  }


  /* Homepage */

  /* css for the div box that holds the nr-logo and navbar */
 .topbar{

    position: static;
    margin: auto;
    width: 70%;
    height: 200px;
  
   }


 /* css for the navbar box positioning */
 .nav-buttons{
    position: static;
    display: inline-flex;
    float: right;
    flex: 1; /*Distribute the available space evenly between the divs */
    padding: 10px; /* Add padding for spacing */
    /* border: 1px solid #ccc; Add borders for visual separation */
    }
  
/* css for navbar buttons */
ul.navbar {
    
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    justify-content: space-evenly;

    margin-right: 35px;
    margin-top: 60px;

    
  }

  /* spacing inbetween buttons */
  ul.navbar li {
    position: static;
    float: right;
    margin-left: 35px;
    /* border: 1px solid #ccc;
    border-radius: 25px; */
    
  }

  /* css style for the buttons inside the navbar */
  ul.navbar li a {

    position: static;
    /* display: block; */
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* border: 1px solid; */
    border-radius: 50px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    display: flex;
    width: 125px;
    height: 50px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
  }


  a#gs-button{

  
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    /* border: 1px solid; */
    border-radius: 50px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    margin: 0px;


    display: flex;
    /* flex-direction: column; */
    width: 125px;
    height: 50px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
  }

  ul.navbar li a:hover, a#gs-button:hover {
    background-color: #175C77;
    opacity: 50%;
    transition-delay: 150ms;
    /* border: 1px solid; */
    border-radius: 50px;
  }

  li a#signup{
    display: flex;
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 50px;


  }

  li a#signup:hover{
    display: flex;
    /* color: #ffffff; */
    background-color: black;
    transition-delay: 150ms;
    opacity: 50%;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 50px;


  }


  img.nr-logo{
        
    width: 131px;
    height: 135px;

    position: static;   
    display: inline-flex;   
    padding: 10px; /* Add padding for spacing */
    margin-left: 35px;
    margin-top: 35px;
    /* border: 1px solid #ccc; Add borders for visual separation */
}


#logo-login{

    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-top: 45px;
}



.top-body{

    display: inline-flex;

    width: 1424px;
    height: 402px;
    

}

.intro{

    /* margin: auto; */

    width: 712px;
    height: 400px;
    /* padding-right: 300px; */

    /* margin-right: 100px; */

    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

  .inner-div{
    flex: 1;
  }

  .get-started{

    padding-top: 250px;

    width: 712px;
    

    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

h2#analytics {

    margin: 0px;
    /* margin-top: 200px; */
    /* padding-left: 170px; */
    color: #ffffff;
    
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5px;
}


h3#h3-intro{

    margin: 0px;
    color: #ffffff;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
}

h3{

    margin: 0px;
    color: #ffffff;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    text-align: center;
}

h4#locTitle{

    margin: auto;
    padding-left: 40px;
    padding-top: 40px;
    color: #ffffff;

    position: static;
    
    
    font-size: 36px;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

}

h2#gs{
    /* display: flex;
    flex-direction: column; */

    margin: 0px;
    margin-top:0px;
    /* padding-right: 150px; */
    margin-top: 0px;
    /* float: right; */
    color: #ffffff;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;


}
  

h2#improv, h2{

    margin: 0px;
    margin-top:0px;
    /* padding-right: 150px; */
    margin-top: 200px;
    /* float: right; */
    color: #ffffff;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;


    text-align: center;


  }


  .middle-body{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* img#graphic-plholder{

    margin: 0;

  } */

  .lower-body{

    width: 1424px;


    text-align: center;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 81px;






  }

  .sub-box{

    width: 1120px;
    height: 490px;

    display: flex;
    align-items: flex-start;
    
    gap: 35px;
  }


  .plan{

    width: 350px;
    height: 470px;
    flex-shrink: 0;

    border-radius: 35px;
    border: 10px solid #279CCA;
    background: rgba(23, 92, 119, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* filter: blur(2px); */
  }

  .inside-plan{

    display: flex;
    width: 310px;
    padding: 45px 20px 89px 20px;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    position: absolute;
    /* right: 9px;
    bottom: 9px; */



  }

  h2#light{

    margin: 0px;
    margin-top:0px;
    color: #ffffff;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;


    text-align: center;


  }


  ul.inside-plan-details{

    /* list-style-type: none; */
    font-size: 24px;
  }


/** Login Page **/

#login-container {
    width: 420px;
    height: 420px;
    flex-shrink: 0;
    margin: 100px auto 0; /* top margin set to 50px, right and left margins set to auto, bottom margin set to 0 */

    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);

    /* Add the following properties to set up a flexbox container. */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}


#login-text-container {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    margin-bottom: 15px;
}


/* Style for each form group, including labels and inputs. */
.form-group {
    width: 100%; /* Full width within the container. */
    margin-bottom: 10px; /* Some space between elements. */
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Style for labels. */
.form-group label {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
}

/* Style for input fields. */
.form-group input {
    width: 320px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
}

/* Style for the login button. */
#login-button {
    /* display: block; */
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    display: flex;
    width: 125px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
    margin: auto;
    border: none;
    cursor: pointer;
}

#login-button:hover {
    background-color: #175C77;
    opacity: 50%;
    /* border: 1px solid; */
    border-radius: 50px;
}


/* Style for the forgot password link. */
#forgot-password {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    text-decoration: none; /* Remove underline */
}

#forgot-password:hover {
    text-decoration: underline; /* Underline on hover. */
}

/** End of Login Page **/

#signup-container {
    width: 420px;
    height: 650px;
    flex-shrink: 0;
    margin:auto;
    margin-left: 37.25%;
    /* margin-top: 40px;
    margin-bottom: 0;
    margin-right: 540px;
    margin-left: 690px; */


    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);

    /* Add the following properties to set up a flexbox container. */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

#terms-and-conditions{
    font-size: 12px;
    padding: 15px;
}

#agreement{
    height:15px;
    padding: 15px;
}

#logo-container{
    margin:15px;
}

/* Style for each form group, including labels and inputs. */
.agreement-group {
    width: 100%; /* Full width within the container. */
    margin-bottom: 10px; /* Some space between elements. */
    display: flex;
    align-items: left;
}

/* Style for labels. */
.agreement-group label {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    position: relative;
    top: 3.5px;
    letter-spacing: 1px;
}

/* Style for input fields. */
.agreement-group input {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 15px;
    margin-right: 5px
}

#error-container{
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 150px;
    margin-top: 300px;
    flex-shrink: 0;
    /* Add the following properties to set up a flexbox container. */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

/* CSS for messages section */
ul.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.messages li.error {
    color: red;
    font-size: 18px;
    margin: 5px; /* Adjust this value to change the spacing between messages */
    text-align: center;
}


/* CSS for error message */
.error {
    color: red;
    margin-bottom: 5px;
    text-align: center;
}


/** Dashboard Page **/

#logo-dashboard{

    width: 125px;
    height: 125px;
    margin: auto;
}

#dashboard-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: 180px;
    height: 100vh; /* Adjust the height to cover the entire viewport height */
    background: rgba(217, 217, 217, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#create-button {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    display: flex;
    width: 110px;
    height: 40px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #175C77;
    border: none;
}

#create-button:hover {
    background-color: #134A5C;
    cursor: pointer;
}

.nav-button {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -1.44px;
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    background: none;
    border: 1px solid transparent; /* Add a transparent border */
    box-sizing: border-box; /* Add box-sizing */
    text-decoration: none;
    vertical-align: center;
}

.nav-button:hover {
    border-color: black; /* Change the color of the border on hover */
    color: black;  
    cursor: pointer;
}

.nav-button {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -1.44px;
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    background: none;
    border: 1px solid transparent; /* Add a transparent border */
    box-sizing: border-box; /* Add box-sizing */
    text-decoration: none;
    vertical-align: center;
}




.nav-button {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -1.44px;
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    background: none;
    border: 1px solid transparent; /* Add a transparent border */
    box-sizing: border-box; /* Add box-sizing */
    text-decoration: none;
    vertical-align: center;
}

.nav-button:hover {
    border-color: black; /* Change the color of the border on hover */
    color: black;  
    cursor: pointer;
}

.nav-button:active {
    
    background: #175C77;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-color: black; /* Change the color of the border on hover */
    color: black;  
    cursor: pointer;
}







#dashboard-topbar {
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    left: 180px;
    width: calc(100% - 180px); /* occupy the entire width of the viewport minus the 180px for the nav bar --aviv, took out "-180px" b/c it altered the bar size when I fixed the content space*/
    height: 75px; /* height of the top bar */
    color: #ffffff;
    background: rgba(217, 217, 217, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard-title-container h2 {
    margin: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
}

#user-info-button {
    display: inline-block;
    padding: 10px;
    background-color: #175C77;
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    margin-right:15px;
    transition: background-color 0.3s ease;
}

#user-info-button:hover {
    background-color: #134A5C;
}

/* CSS for the profile page */
#profile-container {
    width: 500px;
    height: 600px;
    margin: auto;

    /* Add the following properties to center the container vertically and horizontally. */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5%;

    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);

    /* Add the following properties to set up a flexbox container. */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

#profile-name-text h2{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    margin: 0;
    margin-top: 25px;
}
/* Style for each form group, including labels and inputs. */
/* Style for each form group, including labels and inputs. */
.profile-info-group {
    width: 75%; /* Full width within the container. */
    margin-bottom: 10px; /* Some space between elements. */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally. */
    justify-content: center; /* Center items vertically. */
}


.profile-info-group form {
    display: flex;
    justify-content: center; /* This will put some space between the input and the button. */
    align-items: center; /* This will align the items vertically. */
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
}

.profile-info-group input {
    flex-shrink: 0;
    height: 70%;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
}


/* Style for labels. */
.profile-info-group label {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    align-items: center;
    margin-top: 15%;
}

/* Style for input fields. */
.profile-info-group button {
    width: 316.5px;
    height: 48.75px;
    flex-shrink: 0;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
    color: #FFF;
    align-items: center;
    margin-top: 8%;
}

.profile-info-group button:hover {
    background-color: #134A5C;
    cursor: pointer;
}

#email-display {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    align-items: center;
}

li.success {
    color: rgb(12, 199, 12);
}

#profile-button {
    display: inline-block;
    background-color: rgba(38, 156, 202, 0.50);
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

#profile-button:hover {
    background-color: #134A5C;
}

/* dashboard create pop up menu */

.popup-menu {
position: relative;
display: none;
}

.popup-menu ul {
list-style: none;
padding: 0;
margin: 0;
background-color:#034863;
color: #FFF;
border: 1px solid #ccc;
border-radius: 4px;
width: 150px;
position: absolute;
top: -60px;
left: 110px;
z-index: 100;
}

.popup-menu ul li {
padding: 8px 12px;
cursor: pointer;
}

.popup-menu ul li:hover {
background-color: #ccc;
}

.popup-menu.show {
display: block;
}

/* members dashboard */

#member-actions-container{
    position: absolute;
    top: 100px;
    left: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* You can adjust the width as needed */
    width: 175px;
    z-index: 10;
}

#member-create-button{
  background-color: #175C77;
  height: 45px;
  width: 140px;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  border: none;
  z-index: 1;
}

#member-create-button:hover{
    background-color: #175C77;
    opacity: 50%;
    /* border: 1px solid; */
    border-radius: 50px;
    cursor: pointer;
}

#member-count{
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    /* Removed align-items and margin-top */
}


#create-member-container, #create-trainer-container, #create-location-container{
    display:none;
    width: 800px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #1583ae;
    position:fixed;
    padding: 50px;
    left:350px;
    top:150px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.member-create-fields, .trainer-create-fields{
    display: block;
}

.member-create-fields{
  border-radius: 15px;
  width:170px;
  height:25px;
  border:none;
  padding:10px;
  background-color: #175C77;
  margin:15px;
  -webkit-text-fill-color:lightgray;
}

#confirm-create-member, #confirm-create-trainer{
  border-radius: 25px;
  width:190px;
  height:45px;
  border:none;
  background-color: #279CCA;
  margin:15px;
  color:white
}


#create-member-container.show, #create-trainer-container.show, #create-location-container.show{
display: block;
}

.member-create-fields[type="text"] {
padding: 10px;
font-size: 16px;
}

.member-create-fields[type="text"]::placeholder {
color: #999;
}


/* Location page CSS */

.content{

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    }

#main-content-container{

    flex-grow: 1;
    /* margin: auto; */

}

#add-location{

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    display: flex;
    width: 150px;
    height: 40px;
    /* padding: 5px 10px; */
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 25px;
    background-color: #175C77;
    border: none;


}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px); /* account for your topbar height */
    width: calc(100vw - 180px); /* account for your navbar width */
    position: absolute;
    top: 75px; /* position below the topbar */
    left: 180px; /* position right to the navbar */
}

#trainers-main-container,  #members-main-container, #collections-main-container{
    /* Remove the position: fixed */
    /* width: 1128px; Remove this if you want the container width to adjust based on the content */
    height: 70%; /* Adjust this if you want a fixed height */
    width: 80%;
    border-radius: 15px;
    background: #175C77;
    overflow-y: auto;
}

.trainer-heading-container, .member-heading-container {
    display: flex;  /* This makes the children of .heading-container align horizontally */
    justify-content:space-between;  /* This spreads the children out evenly */
    padding: 15px;
    background-color:#134A5C;
}


.trainers-main-heading, .members-main-heading{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    
}
#trainers-name-heading{
    position: relative;
    left:40px;
}
#trainers-locations-heading{
    position: relative;
    left:150px;
}
#trainers-space-heading{
    position: relative;
    left:60px;
}
#new-rank-heading{
    position: relative;
    left:-15px;
}

#trainer-name-name{
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    margin-left: 46px;
    padding: 0;
}

#trainer-location-name{
    position: absolute;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    margin-left: 485px;
    padding: 0;  /* Add this line to remove any padding */
}
#trainer-space-name{
    position: absolute;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    margin-left: 750px;
    padding: 0;  /* Add this line to remove any padding */
}

.trainer-item-name {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 120px;
    padding: 0;  /* Add this line to remove any padding */
}


.trainer-item-description {
    font-size: 16px;
}

#login-page-signup {
    /* display: block; */
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    display: flex;
    width: 90px;
    height: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}

#login-page-signup:hover {
    background-color: #175C77;
    opacity: 50%;
    /* border: 1px solid; */
    border-radius: 50px;
}

/* member dashboard list */


#member-list-container, #trainer-list-container{
    height: 70%;
    width: 80%;
    border-radius: 15px;
    background: #175C77;
    overflow-y: auto;
    position: absolute;
    top:170px;
    left:230px;
}


.member-list-member{
  background-color: red;
  width: 200px;
  height: 10px;
  margin: 10px;
}


.list-item {
    display: flex;
    flex-direction: row;
    align-items: start; /* Align items to the start of the flex container */
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-top: 3px solid #034863;  /* Only top border */
    border-right: none;  /* No right border */
    border-bottom: none;  /* No bottom border */
    border-left: none;  /* No left border */
    width: 98%;
}

#member-name-name{
    
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 55px;
    padding: 0;
    background-color: transparent;
    border:none;
    color:white;
    font-family: Poppins;
}

#member-name-name:hover{
    color: #bcbcbc;
    cursor:pointer
}

#member-analytics-container{
    width:70%;
    height:60%;
    top:15%;
    left:30%;
    background-color: #175C77;
    position: absolute;
    visibility: visible;
}

#member-trainer-name{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 600px;
    padding: 0;  /* Add this line to remove any padding */
}

#member-ranking-name{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 830px;
    padding: 0;  /* Add this line to remove any padding */
}

#member-new-rank-name{
    position: absolute;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    margin-left: 1050px;
    padding: 0;  /* Add this line to remove any padding */
}
#member-new-rank-name:hover{
    color: #bcbcbc;
    cursor:pointer
}


.member-main-heading{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
}

#members-name-heading{
    position: relative;
    left:50px;
}

#members-ranking-heading{
    position: relative;
    left:-75px;
}
#members-trainer-heading{
    position: relative;
    left:488px;
}


.location-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    background: none;
    position: relative;
}

.location-item {
    padding: 20px;
    height: 300px; 
    width: 300px;
    overflow: auto; 
    border-radius: 15px;
    background: #175C77;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

#location-title {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.16px;
}

#location-space {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.16px;
    margin-top: 5%;
    margin-left: 15%;
}

#collection-level {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.16px;
    margin-top: 5%;
    margin-left: 15%;
}

#trash {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#trash-space {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    /* float: right; */
    left:150px;
    
    
}


#trash:hover {
    background-color: #175C77;
    opacity: 50%;
}

#plus {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 105px;
}


#plus:hover {
    background-color: #175C77;
    opacity: 50%;
}

#add-level-container{
    display: flex;
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #1583ae;
    position:absolute;
    padding: 50px;
    top:0;
    left:0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#level-input {
    width: 120px;
    height: 25px;
    flex-shrink: 0;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
    color: white; /* This will change the color of the text */
    padding-left: 10px;
}

#level-input::placeholder {
    color: white;
}

/* Style for the login button. */
#add-button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    padding: 0;
    color: white;
    background-color: rgba(38, 156, 202, 0.50);
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#add-button:hover {
    opacity: 0.5;
}

#create-collection-container{
    display: none;
    width: 220px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #1583ae;
    position:fixed;
    padding: 50px;
    left:350px;
    top:100px;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#create-collection-container.show{
    display: block;
}