/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* Homepage */

  body {
    background-image: url("images/bg.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y:scroll;

    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  /* css for the div box that holds the nr-logo and navbar */
 .topbar{

    position: static;
    margin: auto;
    width: 1424px;
    height: 200px;
  
   }


 /* css for the navbar box positioning */
 .nav-buttons{
    position: static;
    display: inline-flex;
    float: right;
    flex: 1; /*Distribute the available space evenly between the divs */
    padding: 10px; /* Add padding for spacing */
    /* border: 1px solid #ccc; Add borders for visual separation */
    }
  
/* css for navbar buttons */
ul.navbar {
    
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    justify-content: space-evenly;

    margin-right: 35px;
    margin-top: 60px;

    
  }

  /* spacing inbetween buttons */
  ul.navbar li {
    position: static;
    float: right;
    margin-left: 35px;
    /* border: 1px solid #ccc;
    border-radius: 25px; */
    
  }

  /* css style for the buttons inside the navbar */
  ul.navbar li a {

    position: static;
    /* display: block; */
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* border: 1px solid; */
    border-radius: 50px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    display: flex;
    width: 125px;
    height: 50px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
  }


  a#gs-button{

  
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    /* border: 1px solid; */
    border-radius: 50px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    margin: 0px;


    display: flex;
    /* flex-direction: column; */
    width: 125px;
    height: 50px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
  }

  a.for-free-button{

      position: static;
      /* display: block; */
      color: #ffffff;
      background-color: #175C77;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      /* border: 1px solid; */
      border-radius: 50px;

      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -1.12px;

      display: flex;
      width: 274px;
      height: 50px;
      padding: 5px 15px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: 150ms ease;
  }

  a.for-free-button:hover{

    position: static;
    /* display: block; */
    color: #ffffff;
    background-color: #175C77;
    opacity: 50%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* border: 1px solid; */
    border-radius: 50px;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    display: flex;
    width: 274px;
    height: 50px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
}

  ul.navbar li a:hover, a#gs-button:hover {
    background-color: #175C77;
    opacity: 50%;
    transition-delay: 150ms;
    /* border: 1px solid; */
    border-radius: 50px;

  }

  li a#signup{
    display: flex;
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 50px;


  }

  li a#signup:hover{
    display: flex;
    /* color: #ffffff; */
    background-color: black;
    transition-delay: 150ms;
    opacity: 50%;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 50px;


  }


  img.nr-logo{
        
    width: 131px;
    height: 135px;

    position: static;   
    display: inline-flex;   
    padding: 10px; /* Add padding for spacing */
    margin-left: 35px;
    margin-top: 35px;
    /* border: 1px solid #ccc; Add borders for visual separation */
}

img.nr-logo-footer{
        
  width: 131px;
  height: 135px;

  position: static;   
  display: inline-flex;   
  
  /* border: 1px solid #ccc; Add borders for visual separation */
}


#logo-login{

    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-top: 45px;
}



.top-body{

    display: inline-flex;

    width: 1424px;
    height: 402px;
    

}

.intro{

    /* margin: auto; */

    width: 712px;
    height: 400px;
    /* padding-right: 300px; */

    /* margin-right: 100px; */

    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

  .inner-div{
    flex: 1;
  }

  .get-started{

    padding-top: 250px;

    width: 712px;
    

    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

h2#analytics {

    margin: 0px;
    /* margin-top: 200px; */
    /* padding-left: 170px; */
    color: #ffffff;
    
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5px;
}


h3#h3-intro{

    margin: 0px;
    color: #ffffff;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
}

h3{

    margin: 0px;
    color: #ffffff;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    text-align: center;
}


h2#gs{
    /* display: flex;
    flex-direction: column; */

    margin: 0px;
    margin-top:0px;
    /* padding-right: 150px; */
    margin-top: 0px;
    /* float: right; */
    color: #ffffff;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;


}
  

h2#improv, h2{

    margin: 0px;
    margin-top:0px;
    /* padding-right: 150px; */
    margin-top: 200px;
    /* float: right; */
    color: #ffffff;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;


    text-align: center;


  }

  .h2-col{

    margin: 0px;
    /* padding-right: 150px; */
    margin-top: 30px;
    /* float: right; */
    color: #ffffff;
    
    font-size: 24px;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;


    text-align: center;


  }
  


  .middle-body{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* img#graphic-plholder{

    margin: 0;

  } */

  .lower-body{

    width: 1424px;


    text-align: center;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 81px;






  }

  .sub-box{

    width: 1120px;
    height: 490px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    gap: 35px;
  }


  .plan{

    width: 350px;
    height: 470px;
    flex-shrink: 0;

    display: inline-flex;
    /* flex: 3; */


    border-radius: 35px;
    border: 10px solid #279CCA;
    background: rgba(23, 92, 119, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    transition: transform 0.2s ease-in-out, background-color 0.15s ease-in-out;
    /* filter: blur(2px); */
  }

  .plan:hover{

    width: 350px;
    height: 470px;
    flex-shrink: 0;

    display: inline-flex;
    /* flex: 3; */


    border-radius: 35px;

    border: 10px solid #279CCA;
    
    
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.50);
    transition-duration: 0.8s;
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* filter: blur(2px); */
  }

  .inside-plan{

    /* display: inline-flex; */
   
    width: 350px;
    height: 490px;
    /* padding: 45px 20px 89px 20px; */
    padding: 25px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    position: absolute;
    /* right: 9px;
    bottom: 9px; */



  }

  .inside-plan:hover{

    /* display: inline-flex; */
   
    width: 350px;
    height: 490px;
    /* padding: 45px 20px 89px 20px; */
    padding: 25px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    color: #FFF;
    transition: color .15s ease-in-out;

    position: absolute;
    /* right: 9px;
    bottom: 9px; */



  }


  ul.inside-plan-details{

    /* list-style-type: none; */
    font-size: 24px;
    padding: 0px 0px 0px 35px;

    height:auto;
    display: inline-block;
    align-items:center;
  }



  h2.plan-title{

    margin: 0px;
    margin-top:0px;
    color: #ffffff;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;


    text-align: center;


  }


  .start-analyzing-box{

    position: absolute;
    top: 2100px;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }




  .footer{

    width: 1440px;
    height: 575px;
    flex-shrink: 0;

    position: absolute;
    /* display:flex; */
    top: 2750px;

    background: rgba(217, 217, 217, 0.06);
    
    /* filter: blur(5px); */



  }

  .footer-box{

    width: 1009px;
    height: 327px;
    /* flex-shrink: 0; */
    margin:0;

    display: inline-flex;
    align-items: flex-start;
    

    gap: 100px;

    top: 2874px;
    bottom: 124px;

    padding: 100px 220px 100px 220px;

    
    
    

  
  }

  .logos-n-socials{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    width:250px;
    gap: 24px;

    top: 2874px;

    /* bottom: 2550px; */
    /* left: 177px; */
    /* padding-top: 150px;
    padding-left: 150px; */
  }
  .socials{

    display: flex;
    width: 209px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;


  }

  .logo-tag{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .others{

    display: flex;
    width: 700px;
    align-items: flex-start;
    gap: 178px;

    /* top: 3200px; */
    left: 177px;
  }

  #explore{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }




/* -------------------  END OF Homepage CSS ---------------------  */


/** Login Page **/

#login-container {
    width: 420px;
    height: 420px;
    flex-shrink: 0;
    margin: 100px auto 0; /* top margin set to 50px, right and left margins set to auto, bottom margin set to 0 */

    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);

    /* Add the following properties to set up a flexbox container. */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}


#login-text-container {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    margin-bottom: 15px;
}


/* Style for each form group, including labels and inputs. */
.form-group {
    width: 100%; /* Full width within the container. */
    margin-bottom: 10px; /* Some space between elements. */
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Style for labels. */
.form-group label {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
}

/* Style for input fields. */
.form-group input {
    width: 316.5px;
    height: 48.75px;
    flex-shrink: 0;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
}

/* Style for the login button. */
#login-button {
    /* display: block; */
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

    display: flex;
    width: 125px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
    margin: auto;
    border: none;
    cursor: pointer;
}

#login-button:hover {
    background-color: #175C77;
    opacity: 50%;
    /* border: 1px solid; */
    border-radius: 50px;
}


/* Style for the forgot password link. */
#forgot-password {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    text-decoration: none; /* Remove underline */
}

#forgot-password:hover {
    text-decoration: underline; /* Underline on hover. */
}

/** End of Login Page **/

#signup-container {
    width: 420px;
    height: 650px;
    flex-shrink: 0;
    margin-top: 50px; /* top margin set to 50px, right and left margins set to auto, bottom margin set to 0 */
    margin-bottom: 0;
    margin-right: 540px;
    margin-left: 690px;


    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);

    /* Add the following properties to set up a flexbox container. */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

#terms-and-conditions{
    font-size: 12px;
    padding: 15px;
}

#agreement{
    height:15px;
    padding: 15px;
}

#logo-container{
    margin:15px;
}

/* Style for each form group, including labels and inputs. */
.agreement-group {
    width: 100%; /* Full width within the container. */
    margin-bottom: 10px; /* Some space between elements. */
    display: flex;
    align-items: left;
}

/* Style for labels. */
.agreement-group label {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    position: relative;
    top: 3.5px;
    letter-spacing: 1px;
}

/* Style for input fields. */
.agreement-group input {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 15px;
    margin-right: 5px
}

#error-container{
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 150px;
    margin-top: 300px;
    flex-shrink: 0;
    /* Add the following properties to set up a flexbox container. */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

/* CSS for messages section */
ul.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.messages li.error {
    color: red;
    font-size: 18px;
    margin: 5px; /* Adjust this value to change the spacing between messages */
    text-align: center;
}


/* CSS for error message */
.error {
    color: red;
    margin-bottom: 5px;
    text-align: center;
}


/** Dashboard Page **/

#logo-dashboard{

    width: 125px;
    height: 125px;
    margin: auto;
}

#dashboard-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    height: 100vh; /* Adjust the height to cover the entire viewport height */
    background: rgba(217, 217, 217, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#create-button {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    display: flex;
    width: 110px;
    height: 40px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #175C77;
    border: none;
}

#create-button:hover {
    background-color: #134A5C;
    cursor: pointer;
}

.nav-button {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
    width: 100%;
    height: 5%;
    margin-bottom: 10px;
    background: none;
    border: none;
}

.nav-button:hover {
    border: 1px solid;
    border-radius: 0;
    color: black;  
    cursor: pointer;
}


#dashboard-topbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    left: 180px;
    width: calc(100% - 180px); /* occupy the entire width of the viewport minus the 180px for the nav bar */
    height: 75px; /* height of the top bar */
    color: #ffffff;
    background: rgba(217, 217, 217, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard-title-container h2 {
    margin: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
}

#user-info-button {
    display: inline-block;
    padding: 10px;
    background-color: #175C77;
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    margin-right:15px;
    transition: background-color 0.3s ease;
}

#user-info-button:hover {
    background-color: #134A5C;
}

/* CSS for the profile page */
#profile-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}