@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


/* Want to have one body for the home page without display: flex and one body
for the rest of the pages that does have display: flex */

body.default {
    background-image: url("images/bg.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
}

body.home-page {
    background-image: url("images/bg.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#logo-container{
    margin:15px;
}

/** CSS for Homepage **/

.topbar {
    position: static;
    margin: auto;
    width: 70%;
    height: 200px;
}

.nav-buttons {
    position: static;
    display: inline-flex;
    float: right;
    flex: 1;
    padding: 10px;
}

ul.navbar {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-evenly;
    margin-right: 35px;
    margin-top: 60px;
}

ul.navbar li {
    position: static;
    float: right;
    margin-left: 35px;
}

ul.navbar li a {
    position: static;
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    display: flex;
    width: 125px;
    height: 50px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
}

a#gs-button {
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    margin: 0px;
    display: flex;
    width: 125px;
    height: 50px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 150ms ease;
}

ul.navbar li a:hover, a#gs-button:hover {
    background-color: #175C77;
    opacity: 50%;
    transition-delay: 150ms;
    border-radius: 50px;
}

li a#signup {
    display: flex;
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 50px;
}

li a#signup:hover {
    display: flex;
    background-color: black;
    transition-delay: 150ms;
    opacity: 50%;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 50px;
}

img.nr-logo {
    width: 131px;
    height: 135px;
    position: static;
    display: inline-flex;
    padding: 10px;
    margin-left: 35px;
    margin-top: 35px;
}

#logo-login {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-top: 45px;
}

.top-body {
    display: inline-flex;
    width: 1424px;
    height: 402px;
}

.intro {
    width: 712px;
    height: 400px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-div {
    flex: 1;
}

.get-started {
    padding-top: 250px;
    width: 712px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2#analytics {
    margin: 0px;
    color: #ffffff;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5px;
}

h3#h3-intro {
    margin: 0px;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
}

h3 {
    margin: 0px;
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    text-align: center;
}

h4#locTitle {
    margin: auto;
    padding-left: 40px;
    padding-top: 40px;
    color: #ffffff;
    position: static;
    font-size: 36px;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
}

h2#gs {
    margin: 0px;
    margin-top:0px;
    color: #ffffff;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
}

h2#improv, h2 {
    margin: 0px;
    margin-top: 200px;
    color: #ffffff;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    text-align: center;
}

.middle-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lower-body {
    width: 1424px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 81px;
}

.sub-box {
    width: 1120px;
    height: 490px;
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

.plan {
    width: 350px;
    height: 470px;
    flex-shrink: 0;
    border-radius: 35px;
    border: 10px solid #279CCA;
    background: rgba(23, 92, 119, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inside-plan {
    display: flex;
    width: 310px;
    padding: 45px 20px 89px 20px;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    position: absolute;
}

h2#light {
    margin: 0px;
    margin-top:0px;
    color: #ffffff;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    text-align: center;
}

ul.inside-plan-details {
    font-size: 24px;
}

/** End of CSS for Homepage **/

/** CSS for Login and Signup Pages **/

#login-container {
    width: 420px;
    height: 420px;
    flex-shrink: 0;
    margin: 100px auto 0;
    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

#login-header-text, #signup-header-text {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    margin-bottom: 15px;
    font-size: 48px;
}

.login-form-group, .signup-form-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.login-form-group label, .signup-form-group {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
}

.login-form-group input, .signup-form-group input {
    width: 320px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
}

#login-button, #signup-button {
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: -1.12px;
    display: flex;
    width: 125px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    gap: 10px;
    transition: 150ms ease;
    margin: auto;
    border: none;
    cursor: pointer;
}

#login-button-signup-page, #signup-button-login-page {
    color: #ffffff;
    background-color: #175C77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: -1.12px;
    display: flex;
    width: 90px;
    height: 20px;
    padding: 15px;
    justify-content: center;
    gap: 10px;
    transition: 150ms ease;
    margin: auto;
    margin-left: (100% - 90px) / 2;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

#login-button:hover, #login-button-signup-page:hover, #signup-button-login-page:hover {
    background-color: #175C77;
    opacity: 50%;
    border-radius: 50px;
}

#signup-container {
    width: 420px;
    height: 650px;
    flex-shrink: 0;
    margin:auto;
    left: ((100% - 420px) / 2);
    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

#terms-and-conditions{
    font-size: 12px;
    padding: 15px;
}

#agreement{
    height:15px;
    padding: 15px;
}

.agreement-group {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: left;
}

.agreement-group label {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    position: relative;
    top: 3.5px;
    letter-spacing: 1px;
}

.agreement-group input {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 15px;
    margin-right: 5px
}

#error-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 300px;
    right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

ul.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.messages li.error {
    color: red;
    font-size: 18px;
    margin: 5px;
    text-align: center;
}

.error {
    color: red;
    margin-bottom: 5px;
    text-align: center;
}

/** End of Login and Signup Pages **/


/** CSS for Dashboard Page **/

#logo-dashboard{
    width: 125px;
    height: 125px;
    margin: auto;
}

#dashboard-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: 180px;
    height: 100vh;
    background: rgba(217, 217, 217, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#create-button {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    display: flex;
    width: 110px;
    height: 40px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #175C77;
    border: none;
}

#create-button:hover {
    background-color: #134A5C;
    cursor: pointer;
}

.nav-button {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.44px;
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    background: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-decoration: none;
    vertical-align: center;
}

.nav-button:hover {
    border-color: black;
    color: black;  
    cursor: pointer;
}

.nav-button:active {
    background: #175C77;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-color: black;
    color: black;  
    cursor: pointer;
}

#dashboard-topbar {
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    left: 180px;
    width: calc(100% - 180px);
    height: 75px;
    color: #ffffff;
    background: rgba(217, 217, 217, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard-title-container{
    margin: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
}

#user-info-button {
    display: inline-block;
    padding: 10px;
    background-color: #175C77;
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    margin-right:15px;
    transition: background-color 0.3s ease;
}

#user-info-button:hover {
    background-color: #134A5C;
}

.popup-menu {
    position: relative;
    display: none;
}
    
.popup-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:#034863;
    color: #FFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    position: absolute;
    top: -60px;
    left: 110px;
    z-index: 100;
}
    
.popup-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}
    
.popup-menu ul li:hover {
    background-color: #ccc;
}
    
.popup-menu.show {
    display: block;
}

/** End of CSS for Dashboard Page **/

/** CSS for the profile page **/

#profile-container {
    width: 500px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5%;
    border-radius: 22.5px;
    background: rgba(23, 92, 119, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

#profile-name-text{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    margin: 0;
    margin-top: 25px;
}

#profile-email-text{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    margin: 0;
    margin-top: 25px;
}

.profile-password-change {
    width: 75%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-password-change form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
}

.profile-password-change input {
    flex-shrink: 0;
    height: 70%;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
}

.profile-password-change label {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
    align-items: center;
    margin-top: 15%;
}

#profile-button {
    width: 316.5px;
    height: 48.75px;
    align-items: center;
    flex-shrink: 0;
    display: inline-block;
    background-color: rgba(38, 156, 202, 0.50);
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 8%;
}

#profile-button:hover {
    background-color: #134A5C;
    cursor: pointer;
}

li.success {
    color: rgb(12, 199, 12);
}

/** End of CSS for Profile Page **/

/** CSS for Members/Trainers/Locations/Collections **/

#create-and-count-container{
    position: absolute;
    top: 100px;
    left: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    z-index: 10;
}

#page-create-button{
    background-color: #175C77;
    height: 45px;
    width: 140px;
    font-size: 15px;
    color: white;
    border-radius: 30px;
    border: none;
    z-index: 1;
}

#page-create-button:hover{
    background-color: #175C77;
    opacity: 50%;
    border-radius: 50px;
    cursor: pointer;
}

#object-count{
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.89px;
}

#create-member-container, #create-trainer-container{
    display:none;
    width: 800px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #1583ae;
    position:fixed;
    padding: 50px;
    left:350px;
    top:150px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#create-member-container.show, #create-trainer-container.show{
    display: block;
}

#create-location-container,  #create-collection-container{
    display: none;
    width: 220px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #1583ae;
    position:fixed;
    padding: 50px;
    left:350px;
    top:100px;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#create-location-container.show, #create-collection-container.show{
    display: block;
}

.object-creation-field{
    border-radius: 15px;
    width:170px;
    height:25px;
    border:none;
    padding:10px;
    background-color: #175C77;
    margin:15px;
    -webkit-text-fill-color:lightgray;
}

.object-creation-field[type="text"] {
    padding: 10px;
    font-size: 16px;
}

.object-creation-field[type="text"]::placeholder {
    color: #999;
}

#confirm-create-object{
    border-radius: 25px;
    width:190px;
    height:45px;
    border:none;
    background-color: #279CCA;
    margin:15px;
    color:white
}

#page-main-container{
    height: 70%;
    width: 80%;
    border-radius: 15px;
    background: #175C77;
    overflow-y: auto;
}

.trainer-heading-container, .member-heading-container {
    display: flex;
    justify-content:space-between;
    padding: 15px;
    background-color:#134A5C;
}

#member-list-container, #trainer-list-container{
    height: 70%;
    width: 80%;
    border-radius: 15px;
    background: #175C77;
    overflow-y: auto;
    position: absolute;
    top:170px;
    left:230px;
}

.member-list-item, .trainer-list-item{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-top: 3px solid #034863;
    border-right: none;
    border-bottom: none;
    border-left: none;
    width: 98%;
}

.member-item-text, .trainer-item-text{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    letter-spacing: -0.96px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.locations-grid-container, .collections-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    padding: 20px;
    height: 80%;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    background: none;
    position: relative;
}

.location-list-item, .collection-list-item {
    padding: 20px;
    height: 300px; 
    width: 300px;
    overflow: auto; 
    border-radius: 15px;
    background: #175C77;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

#location-item-title, #collection-item-title {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.16px;
}

#location-item-space, #collection-item-level {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.16px;
    margin-top: 5%;
    margin-left: 15%;
    display: inline-block;
    vertical-align: middle;
}

#trash-space, #trash-level {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    margin-top: 15px;
}

#add-button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    padding: 0;
    color: white;
    background-color: rgba(38, 156, 202, 0.50);
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#add-button:hover {
    opacity: 0.5;
}

/** End of CSS for Members/Trainers/Locations/Collections **/

/** CSS for Member Analytics Page **/

#member-analytics-container{
    width: 95%;
    height: 80%;
    top: 10%;
    left: 12%;
    position: absolute;
    visibility: visible;
    color:white;
}

#member-info-analytics{
    height: 100px;
    width: 50%;
    justify-content: center;
    margin:none;
}

#member-analytics-name{
    font-size: 35px;
    position: absolute;
    left: 6%;
    top: 10px;
}

#member-analytics-ranking{
    font-size: 32px;
    top: 10px;
    left: 37.5%;
    position: absolute;
}

#member-analytics-profile-pic{
    top: 17px;
    left: 12px;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color:#034863;
    border-radius: 35px;

}

#member-analytics-info-line2{
    top: 60%;
    left: 12%;
    width: 100%;
    font-size: 25px;
    position: relative;
}

#member-stats-analytics{
    height: 100px;
    width: 400px;
    left: 65%;
    top: -100px;
    justify-content: space-between;
    position: relative;
    display:flex;
}


.member-stats-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 65%;
    top: -100px;
}

.member-stat{
    font-size: 30px;
    font-weight: bold;
}

#member-stats{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: darkblue;
    height: 40px;
    width: 7.5%;
    position: absolute;
    top: 80px;
    left: 70%;
}

#member-stats::before{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 40px;
    height: 40px;
    background-color: darkblue;
    border-radius: 30%

}

#member-stats:hover{
    color: #bcbcbc;
    cursor:pointer;
}

#member-past-rankings{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color:#175C77;
    height: 40px;
    width: 7.5%;
    position: absolute;
    left: 77.5%;
    top:80px;
    padding-left: 10px;
}

#member-past-rankings::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-color:#175C77;
    border-radius: 30%;
    z-index:-100;
}

#member-past-rankings:hover{
    color: #bcbcbc;
    cursor:pointer;
}

#data-graphs-container{
    border: 2px solid black;
    height: 60%;
    width: 80%;
    position: absolute;
    top:140px;
    left:50px;
}

#member-ranking-name{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 830px;
    padding: 0;
}

#trainer-new-rank-name, #member-new-rank-name{
    color: white;
    position: absolute;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    margin-left: 1050px;
    padding: 0;
}

#trainer-new-rank-name:hover, #member-new-rank-name:hover{
    color: #bcbcbc;
    cursor:pointer
}

.member-main-heading{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
}

#members-name-heading{
    position: relative;
    left:50px;
}

#members-ranking-heading{
    position: relative;
    left:-75px;
}
#members-trainer-heading{
    position: relative;
    left:488px;
}

#trash {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#trash:hover {
    background-color: #175C77;
    opacity: 50%;
}

#plus {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 105px;
}


#plus:hover {
    background-color: #175C77;
    opacity: 50%;
}

#add-level-container{
    display: flex;
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #1583ae;
    position:absolute;
    padding: 50px;
    top:0;
    left:0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#level-input {
    width: 120px;
    height: 25px;
    flex-shrink: 0;

    border-radius: 15px;
    border: none;
    background: rgba(38, 156, 202, 0.50);
    color: white;
    padding-left: 10px;
}

#level-input::placeholder {
    color: white;
}

/** End of CSS for Member Analytics **/