{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!-- Link to your CSS file. Update the href value as needed. -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Logo -->
    <div id="logo-container">
        <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo">
    </div>
    <!-- Login form -->
    <div id="login-container">
        <form method="post" id="login-form">
            {% csrf_token %}
            <div id="login-text-container">
                <h2>Login</h2>
            </div>
            <!-- Username/Email field -->
            <div class="form-group">
                <label for="username">Email:</label>
                <input type="text" id="username" name="username">
            </div>
            <!-- Password field -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <!-- Forgot password link -->
            <div class="form-group">
                <a href="path_to_forgot_password_page" id="forgot-password">Forgot password?</a>
            </div>
            <!-- Login button -->
            <div class="form-group">
                <button id="login-button" type="submit">Log in</button>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
    <a href="{% url 'signup' %}" id="login-page-signup"> Sign up </a>
</body>
</html>