{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Top Bar -->
    <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">
            <h2>Profile</h2>
        </div>
        
        <!-- User info -->
        <div id="user-info-container">
            <button id="user-info-button" href="{% url 'profile' %}">
                {{ user.first_name }} {{ user.last_name|slice:"1" }}
            </button>
        </div>
    </div>
    <!-- Navigation -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
        </div>
            {% csrf_token %}
            <button id="create-button" type="button">+ Create</button>
            <a href="{% url 'dashboard' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="members-dashboard-button">
                    Dashboard
                </button>
            </a>
            <a href="{% url 'members' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="members-dashboard-button">
                    Members
                </button>
            </a>
            <a href="{% url 'trainers' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="trainers-dashboard-button">
                    Trainers
                </button>
            </a>
            <a href="{% url 'locations' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="locations-dashboard-button">
                    Locations
                </button>
            </a>
            <a href="{% url 'collections' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="collections-dashboard-button">
                    Collections
                </button>
            </a>
    </div>
    <!-- Main Content -->
    <div id="profile-content-container">
        <!-- Content goes here -->
        PROFILE
    </div>
</body>
</html>
