{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Top Bar -->
    <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">
            <h2>Profile</h2>
        </div>
        
        <!-- User info -->
        <div id="user-info-container">
            <button id="user-info-button" href="{% url 'profile' %}">
                {{ user.first_name }} {{ user.last_name|slice:"1" }}
            </button>
        </div>
    </div>
    <!-- Navigation -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
        </div>
            {% csrf_token %}
            <button id="create-button" type="button">+ Create</button>
            <button class="nav-button">Dashboard</button>
            <button class="nav-button">Members</button>
            <button class="nav-button">Trainers</button>
            <button class="nav-button">Locations</button>
            <button class="nav-button">Collections</button>
    </div>
    <!-- Main Content -->
    <div id="profile-content-container">
        <!-- Content goes here -->
        PROFILE
    </div>
</body>
</html>
