{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Top Bar -->
    <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">Profile</div>
        
        <!-- User info -->
        <div id="user-info-container">
            <a href="{% url 'profile' %}">
                <button id="user-info-button">{{ user.first_name }} {{ user.last_name|slice:"1" }}</button>
            </a>
        </div>
    </div>
    
    <!-- Nav Bar -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
        </div>
        <!-- Create Button -->
        {% csrf_token %}
        <button id="create-button" onclick="toggleCreateMenu()" type="button">+ Create</button>
        <div class="popup-menu">
            <ul>
                <li onclick="toggleCreateMember()">Member</li>
                <li onclick="toggleCreateTrainer()">Trainer</li>
                <li onclick="toggleCreateLocation()">Location</li>
                <li>Collection</li>
            </ul>
        </div>

        <!-- Nav Buttons -->
        <a href="{% url 'dashboard' %}">
            <button class="nav-button">Dashboard</button>
        </a>
        <a href="{% url 'members' %}">
            <button class="nav-button">Members</button>
        </a>
        <a href="{% url 'trainers' %}">
            <button class="nav-button">Trainers</button>
        </a>
        <a href="{% url 'locations' %}">
            <button class="nav-button">Locations</button>
        </a>
        <a href="{% url 'collections' %}">
            <button class="nav-button">Collections</button>
        </a>
    </div>

    <!-- Main Content -->
    <div id="profile-container">
        <!-- Name -->
        <div id="profile-name-text">{{ user.first_name }} {{ user.last_name }}</div>
        <!-- Email -->
        <div id="profile-email-text">Email: {{ user.username }}</div>
        <!-- Password change -->
        <div class="profile-password-change">
            <label for="password-change">Change password</label>
            <!-- Form for changing the password -->
            <form id="password-change-form" action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="old-password">Old password: </label>
                    <input type="password" id="old-password" name="old_password" required>
                </div>
                <div>
                    <label for="new-password">New password: </label>
                    <input type="password" id="new-password" name="new_password" required>
                </div>
                <div>
                    <label for="confirm-password">Confirm password: </label>
                    <input type="password" id="confirm-password" name="confirm_password" required>
                </div>
                <button id="profile-button">Save Password</button>
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <li class="success">{{ message }}</li>
                        {% else %}
                            <li class="error">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{% url 'logout' %}">
                <button id="profile-button">
                    Logout Account
                </button>
            </a>
        </div>
    </div>
</body>
</html>