{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign up Page</title>
    <!-- Link to your CSS file. Update the href value as needed. -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Logo -->
    <div id="logo-container">
        <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo">
    </div>
    <!-- Sign up form -->
    <div id="signup-container">
        <form method="post" id="signup-form">
            {% csrf_token %}
            <div id="login-text-container">
                <h2>Sign Up</h2>
            </div>
            <!-- Full Name field -->
            <div class="form-group">
                <label for="{{ form.full_name.id_for_label }}">Full Name:</label>
                <input type="text" id="{{ form.full_name.id_for_label }}" name="{{ form.full_name.html_name }}" class="signup-form-group input">
            </div>
            <!-- Email field -->
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" class="signup-form-group input">
            </div>
            <!-- Password field -->
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" class=".signup-form-group input">
            </div>
            <!-- Password Confirmation field -->
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" class=".signup-form-group input">
            </div>
            <div id="agreement">
                <input type="checkbox" id="agreement"></input>
                <label id="terms-and-conditions">I agree to the terms and conditions</label>
            </div>
            <div><button id="submit-button" type="submit">Sign Up</button></div>
        </form>
    </div>
</body>
</html>
