{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign up Page</title>
    <!-- Link to your CSS file. Update the href value as needed. -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="home-page">
    <!-- Logo -->
    <div id="logo-container">
        <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo">
    </div>
    <!-- Error messages -->
    <div id="error-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <!-- Sign up form -->
    <div id="signup-container">
        <form method="post" id="signup-form">
            {% csrf_token %}
            <div id="signup-header-text">Sign Up</div>
            <!-- Full Name field -->
            <div class="signup-form-group">
                <label for="full_name">Full Name:</label>
                <input type="text" id="full_name" name="full_name">
            </div>
            <!-- Email field -->
            <div class="signup-form-group">
                <label for="username">Email:</label>
                <input type="text" id="username" name="username">
            </div>
            <!-- Password field -->
            <div class="signup-form-group">
                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password1">
            </div>
            <!-- Password Confirmation field -->
            <div class="signup-form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2">
            </div>
            <div class="agreement-group">
                <input type="checkbox" id="agree_to_terms" name="agree_to_terms">
                <label for="agree_to_terms">I agree to the terms and conditions</label>
            </div>
            <button id="signup-button" type="submit">Sign Up</button>
        </form>
    </div>
    <a href="{% url 'login' %}" id="login-button-signup-page">Log in</a>
   
</body>
</html>
