{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Collections</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="default">
    <!-- Top Bar -->
    <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">Collections</div>
        
        <!-- User info -->
        <div id="user-info-container">
            <a href="{% url 'profile' %}">
                <button id="user-info-button">{{ user.first_name }} {{ user.last_name|slice:"1" }}</button>
            </a>
        </div>
    </div>

    <!-- Nav Bar -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
        </div>
        <!-- Create Button -->
        {% csrf_token %}
        <button id="create-button" onclick="toggleCreateMenu()" type="button">+ Create</button>
        <div class="popup-menu">
            <ul>
                <li>Member</li>
                <li>Trainer</li>
                <li>Location</li>
                <li>Collection</li>
            </ul>
        </div>

        <!-- Nav Buttons -->
        <a href="{% url 'dashboard' %}">
            <button class="nav-button">Dashboard</button>
        </a>
        <a href="{% url 'members' %}">
            <button class="nav-button">Members</button>
        </a>
        <a href="{% url 'trainers' %}">
            <button class="nav-button">Trainers</button>
        </a>
        <a href="{% url 'locations' %}">
            <button class="nav-button">Locations</button>
        </a>
        <a href="{% url 'collections' %}">
            <button class="nav-button">Collections</button>
        </a>
    </div>  

    <!-- Main Content -->
    <div class="page-main-container">
        <div id="create-and-count-container">
            <button id="page-create-button" onclick="toggleCreateMember()" type='button'>+ Add Collection</button>
            {% csrf_token %}
            <div id="object-count">({{ count }})</div>
        </div>

        <!-- Create Collection form -->
        <form method="POST" action="create_course/">
            <div id="create-collection-container">
                {% csrf_token %}
                <input class='object-creation-field' name='collection' type="text" placeholder="Collection Name">
                <button id='confirm-create-object' type="submit">Create Collection</button>
            </div>
        </form>

        <div class="collections-grid-container">
            <!-- Display each Collection -->
            {% for collection in collections %}
                <div class="collection-list-item">
                    <div id="collection-item-title">{{ collection.name }}</div>
                    <!-- Display each Level -->
                    {% for level in collection.levels.all %}
                        <!-- Delete Level button -->
                        <form method="POST" action="{% url 'delete_level' level.id %}">
                            {% csrf_token %}
                            <!-- Display Level inside delete form so items appear adjacent -->
                            <div id="collection-item-level">{{ level.level }}</div>
                            <button id="trash-level" onclick="return confirmDeleteSpace();">
                                <img src="{% static 'images/small_trash_icon.svg' %}" alt="Delete">
                            </button>
                        </form>
                    {% endfor %}
                    
                    <!-- Add Level Form -->
                    <div id="addLevelForm{{ collection.id }}" style="display: none;">
                        <form method="POST" action="{% url 'add_level' collection.id %}">
                            {% csrf_token %}
                            <input id="level-input" type="text" name="level" placeholder="Enter level">
                            <input id="add-button" type="submit" value="Add">
                        </form>
                    </div>
                    <button id="plus" onclick='showAddLevelForm("{{ collection.id }}");'>
                        <img src="{% static 'images/plus_icon.svg' %}" alt="Add">
                    </button>

                    <!-- Delete Button -->
                    <form method="POST" action="{% url 'delete_collection' collection.id %}">
                        {% csrf_token %}
                        <button id="trash" onclick="return confirmDelete();">
                            <img src="{% static 'images/trash_icon.svg' %}" alt="Delete">
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

<script>

    function toggleCreateMenu(){
        var popupMenu = document.querySelector(".popup-menu");
        popupMenu.classList.toggle("show");
    }

    function toggleCreateMember(){
        var createMemberMenu = document.querySelector("#create-collection-container");
        createMemberMenu.classList.toggle("show");
    }

    function confirmDelete() {
        return confirm('Are you sure you want to delete this collection?');
    }
    
    function showAddLevelForm(collectionId) {
        var form = document.getElementById('addLevelForm' + collectionId);
        if(form.style.display === 'block') {
            form.style.display = 'none';
        } else {
            form.style.display = 'block';
        }
    }

</script>