{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Locations</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Navigation -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
            <!-- <img src="/mysite/new_ranking/static/images/NR_logo.svg" alt="Logo" id="logo-dashboard"> -->
        </div>
            {% csrf_token %}
            <script>
                function toggleMenu(){
                    var popupMenu = document.querySelector(".popup-menu");
                    popupMenu.classList.toggle("show");
                }
            </script>
            <button id="create-button" onclick="toggleMenu()" type="button">+ Create</button>
            
            <div class="popup-menu">
                <ul>
                  <li>Member</li>
                  <li>Trainer</li>
                  <li>Location</li>
                  <li>Collection</li>
                </ul>
            </div>

            <a href="{% url 'dashboard' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="dashboard-button" >
                    Dashboard
                </button>
            </a>
            <a href="{% url 'members' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="members-dashboard-button">
                    Members
                </button>
            </a>
            <a href="{% url 'trainers' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="trainers-dashboard-button">
                    Trainers
                </button>
            </a>
            <a href="{% url 'locations' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="locations-dashboard-button">
                    Locations
                </button>
            </a>
            <a href="{% url 'collections' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="collections-dashboard-button">
                    Collections
                </button>
            </a>
    </div>  
    
    <div class="content">

        <!-- Top Bar -->
     <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">
            <h2>Locations</h2>
        </div>
        
        <!-- User info -->
        <div id="user-info-container">
            <a href="{% url 'profile' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button id="user-info-button">
                    {{ user.first_name }} {{ user.last_name|slice:"1" }}
                </button>
            </a>
        </div>
    </div>
    <!-- Main Content -->
    <div class="center-container">
        <div id="member-actions-container">
            <button id="member-create-button" onclick="toggleCreateMember()" type='button'>+ Add Location</button>
            {% csrf_token %}
                <div id="member-count">({{ count }})</div>
            <!--</a>-->
        </div>
        <form method="POST" action="create_location/">
            <div id="create-member-container">
                {% csrf_token %}
                <input class='member-create-fields' name='location-name' type="text" placeholder="Location">
                <input class='member-create-fields' name='space-num' type="text" placeholder="Space">
                <button id='confirm-create-member' type="submit">Create Location</button>
            </div>
        </form>
        <div class="location-container">
            {% for location in locations %}
                <div class="location-item">
                    <div id="location-title">{{ location.name }}</div>
                    {% for space in location.spaces.all %}
                    <div id="location-space">{{ space.name }}</div>
                    {% endfor %}

                    <!-- Add Space Form -->
                    <div id="addLevelForm" style="display: none;">
                        <form method="POST" action="{% url 'add_space' location.id %}">
                            {% csrf_token %}
                            <input id="level-input" type="text" name="space" placeholder="Enter space"> <!--check for this lines css-->
                            <input id="add-button" type="submit" value="Add">
                        </form>
                    </div>
                    <button id="plus" onclick="showAddLevelForm();">
                        <img src="{% static 'images/plus_icon.svg' %}" alt="Add">
                    </button>

                     <!-- Delete Button -->
                     <form method="POST" action="{% url 'delete_location' location.id %}">
                        {% csrf_token %}
                        <button id="trash" onclick="return confirmDelete();">
                            <img src="{% static 'images/trash_icon.svg' %}" alt="Delete">
                        </button>
                    </form>


                   
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

<script>
    function toggleCreateMember(){
                var createMemberMenu = document.querySelector("#create-member-container");
                createMemberMenu.classList.toggle("show");
            }
</script>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this collection?');
    }
</script>

<script>
    function showAddLevelForm() {
        var form = document.getElementById('addLevelForm');
        if(form.style.display === 'block') {
            form.style.display = 'none';
        } else {
            form.style.display = 'block';
        }
    }
</script>