{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Members</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="default">
    <!-- Top Bar -->
    <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">Members</div>
        
        <!-- User info -->
        <div id="user-info-container">
            <a href="{% url 'profile' %}">
                <button id="user-info-button">{{ user.first_name }} {{ user.last_name|slice:"1" }}</button>
            </a>
        </div>
    </div>
    
    <!-- Nav Bar -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
        </div>
        <!-- Create Button -->
        {% csrf_token %}
        <button id="create-button" onclick="toggleCreateMenu()" type="button">+ Create</button>
        <div class="popup-menu">
            <ul>
                <li onclick="toggleCreateMember()">Member</li>
                <li onclick="toggleCreateTrainer()">Trainer</li>
                <li onclick="toggleCreateLocation()">Location</li>
                <li>Collection</li>
            </ul>
        </div>

        <!-- Nav Buttons -->
        <a href="{% url 'dashboard' %}">
            <button class="nav-button">Dashboard</button>
        </a>
        <a href="{% url 'members' %}">
            <button class="nav-button">Members</button>
        </a>
        <a href="{% url 'trainers' %}">
            <button class="nav-button">Trainers</button>
        </a>
        <a href="{% url 'locations' %}">
            <button class="nav-button">Locations</button>
        </a>
        <a href="{% url 'collections' %}">
            <button class="nav-button">Collections</button>
        </a>
    </div>
    
    <!-- Main Content -->
    <div class="page-main-container">
        <div id="create-and-count-container">
            <button id="page-create-button" onclick="toggleCreateMember()" type='button'>+ Add Member</button>
            {% csrf_token %}
            <div id="object-count">({{ count }})</div>
        </div>
        
        <!-- Create Member form -->
        <form method="POST" action="create_member/">
            <div id="create-member-container">
                {% csrf_token %}
                <input class='object-creation-field' name='first-name' autocomplete=" " type="text" placeholder="First Name">
                <input class='object-creation-field' name='last-name' type="text" placeholder="Last Name">
                <input class='object-creation-field' name='location' type="text" placeholder="Location">
                <input class='object-creation-field' name='phone-number' type="text" placeholder="Phone Number">
                <input class='object-creation-field' name='email' autocomplete=" " type="text" placeholder="Email">
                <input class='object-creation-field' name='space' type="text" placeholder="Space">
                <input class='object-creation-field' name='gender' type="text" placeholder="Gender">
                <input class='object-creation-field' name='date-joined' type="text" placeholder="Date Joined (YYYY-MM-DD)">
                <input class='object-creation-field' name='date-of-birth' type="text" placeholder="Date of Birth (YYYY-MM-DD)">
                <input class='object-creation-field' name='package' type="text" placeholder="Package">
                <input class='object-creation-field' name='courses' type="text" placeholder="Courses">
                <input class='object-creation-field' name='trainer' type="text" placeholder="Trainer">
                <input class='object-creation-field' name='password' type="text" placeholder="Password">
                <button id='confirm-create-object' type="submit">Create Member</button>
            </div>
        </form>

        <div id="member-list-container">
            <!-- Heading above Members List -->
            <div class="member-heading-container">
                <div class="member-item-text">Name</div>
                <div class="member-item-text">Location</div>
                <div class="member-item-text">Space</div>
                <div class="member-item-text">New Rank</div>
            </div>

            <!-- Members list -->
            {% for member in members %}
                <div class="member-list-item">
                    <div class="member-item-text">{{ member.first_name }} {{ member.last_name }}</div>
                    <div class="member-item-text">{{ member.location }}</div>
                    <div class="member-item-text">{{ member.space }}</div>
                    <div class="member-item-text">+</div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

<!-- Javascript -->
<script>
    function toggleCreateMenu(){
        var popupMenu = document.querySelector(".popup-menu");
        popupMenu.classList.toggle("show");
    }

    function toggleCreateMember(){
        var createMemberMenu = document.querySelector("#create-member-container");
        createMemberMenu.classList.toggle("show");
    }
</script>