{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Locations</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Top Bar -->
    <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">
            <h2>Trainers</h2>
        </div>
        
        <!-- User info -->
        <div id="user-info-container">
            <a href="{% url 'profile' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button id="user-info-button">
                    {{ user.first_name }} {{ user.last_name|slice:"1" }}
                </button>
            </a>
        </div>
    </div>
    <!-- Navigation -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
        </div>
            {% csrf_token %}
            <script>
                function toggleMenu(){
                    var popupMenu = document.querySelector(".popup-menu");
                    popupMenu.classList.toggle("show");
                }
            </script>
            <button id="create-button" onclick="toggleMenu()" type="button">+ Create</button>
            
            <div class="popup-menu">
                <ul>
                  <li>Member</li>
                  <li>Trainer</li>
                  <li>Location</li>
                  <li>Collection</li>
                </ul>
            </div>

            <a href="{% url 'dashboard' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="dashboard-button">
                    Dashboard
                </button>
            </a>
            <a href="{% url 'members' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="members-dashboard-button">
                    Members
                </button>
            </a>
            <a href="{% url 'trainers' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="trainers-dashboard-button">
                    Trainers
                </button>
            </a>
            <a href="{% url 'locations' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="locations-dashboard-button">
                    Locations
                </button>
            </a>
            <a href="{% url 'collections' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="collections-dashboard-button">
                    Collections
                </button>
            </a>
    </div>


    <!-- Main Content -->
    <div id="main-content-container">
        <!-- Content goes here -->
    </div>
</body>
</html>