{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Trainers</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Top Bar -->
    <div id="dashboard-topbar">
        <!-- Dashboard title -->
        <div id="dashboard-title-container">
            <h2>Trainers</h2>
        </div>
        
        <!-- User info -->
        <div id="user-info-container">
            <a href="{% url 'profile' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button id="user-info-button">
                    {{ user.first_name }} {{ user.last_name|slice:"1" }}
                </button>
            </a>
        </div>
    </div>
    <!-- Navigation -->
    <div id="dashboard-navbar">
        <!-- Logo -->
        <div id="logo-container">
            <img src="{% static 'images/NR_logo.svg' %}" alt="Logo" id="logo-dashboard">
        </div>
            {% csrf_token %}
            <script>
                function toggleMenu(){
                    var popupMenu = document.querySelector(".popup-menu");
                    popupMenu.classList.toggle("show");
                }
            </script>
            <button id="create-button" onclick="toggleMenu()" type="button">+ Create</button>
            
            <div class="popup-menu">
                <ul>
                  <li>Member</li>
                  <li>Trainer</li>
                  <li>Location</li>
                  <li>Collection</li>
                </ul>
            </div>

            <a href="{% url 'dashboard' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="dashboard-button">
                    Dashboard
                </button>
            </a>
            <a href="{% url 'members' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="members-dashboard-button">
                    Members
                </button>
            </a>
            <a href="{% url 'trainers' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="trainers-dashboard-button">
                    Trainers
                </button>
            </a>
            <a href="{% url 'locations' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="locations-dashboard-button">
                    Locations
                </button>
            </a>
            <a href="{% url 'collections' %}"> <!-- Replace "/profile/" with the actual URL of the profile page -->
                <button class="nav-button" id="collections-dashboard-button">
                    Collections
                </button>
            </a>
    </div>


    <!-- Main Content -->
    <div class="center-container">
        <div id="member-actions-container">
            <button id="member-create-button" onclick="toggleCreateMember()" type='button'>+ Add Trainer</button>
            {% csrf_token %}
                <div id="member-count">({{ count }})</div>
            <!--</a>-->
        </div>
        <form method="POST" action="create_trainer/">
            <div id="create-member-container">
                {% csrf_token %}
                <input class='member-create-fields' name='first-name' type="text" placeholder="First Name">
                <input class='member-create-fields' name='last-name' type="text" placeholder="Last Name">
                <input class='member-create-fields' name='location' type="text" placeholder="Location">
                <input class='member-create-fields' name='phone-number' type="text" placeholder="Phone Number">
                <input class='member-create-fields' name='email' type="text" placeholder="Email">
                <input class='member-create-fields' name='space' type="text" placeholder="Space">
                <input class='member-create-fields' name='gender' type="text" placeholder="Gender">
                <input class='member-create-fields' name='date-joined' type="text" placeholder="Date Joined">
                <input class='member-create-fields' name='date-of-birth' type="text" placeholder="Date of Birth">
                <input class='member-create-fields' name='courses' type="text" placeholder="Courses">
                <input class='member-create-fields' name='password' type="text" placeholder="Password">
                <button id='confirm-create-member' type="submit">Create Trainer</button>
            </div>
        </form>
        <div id="trainers-main-container">
            <div class="trainer-heading-container">
                <!-- Your content here -->
                <div class="trainers-main-heading" id="trainers-name-heading">
                    Name
                </div>
                <div class="trainers-main-heading" id="trainers-locations-heading">
                    Location
                </div>
            </div>
            {% for trainer in trainers %}
                <div class="trainer-item">
                    <h2 id="trainer-name-name">{{ trainer.first_name }} {{ trainer.last_name }}</h2>
                    <h2 id="trainer-location-name">{{ trainer.location }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>
      
</body>
</html>

<script>
    function toggleCreateMember(){
                var createMemberMenu = document.querySelector("#create-member-container");
                createMemberMenu.classList.toggle("show");
            }
</script>